/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins&display=swap');

#home h1 {
    font-family: Heebo;
    font-size: 36px;
    font-weight: 800;
    line-height: 53px;
}

.links {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

#presentation .top p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.top h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
}

#presentation .bottom h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
}

.bottom p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.contact h1 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.contact input, .contact button {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

#services h1 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}

#services .service h1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.service p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.service button {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#our-work h1 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}

.work p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

#our-work .work h1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

#our-work a {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

#team h2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

#team h1 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}

#team p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#msg h1 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}

#msg div h1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;    
}

#msg div h2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

#contact .links {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

#contact div h1 {
    font-family: Heebo;
    font-size: 36px;
    font-weight: 800;
    line-height: 53px;
}

#contact .contact h1 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}