/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins&display=swap');

#home h1 {
    font-family: Heebo;
    font-size: 36px;
    font-weight: 800;
    line-height: 53px;
}

.links {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

#presentation .top p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.top h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
}

#presentation .bottom h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
}

.bottom p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.contact h1 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.contact input, .contact button {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

#services h1 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}

#services .service h1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.service p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.service button {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#our-work h1 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}

.work p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

#our-work .work h1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

#our-work a {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

#team h2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

#team h1 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}

#team p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#msg h1 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}

#msg div h1 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;    
}

#msg div h2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

#contact .links {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

#contact div h1 {
    font-family: Heebo;
    font-size: 36px;
    font-weight: 800;
    line-height: 53px;
}

#contact .contact h1 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

/* Position */
:root {
    --margin-left: 150px;
    --margin-left2: 75px;
}

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home .links {
    padding: 0%;
}

#home .links a {
    padding: 0% 1rem 0% 1rem;
}

a {
    text-decoration: none;
}

#home h1,
#home .links {
    margin: 0%;
}

.top {
    margin-left: var(--margin-left);
    margin-top: 4rem;
}

.top h1 {
    width: 543px;
}

.top p {
    width: max-content;
}

.top p,
.top h1 {
    margin: 0%;
}

.bottom,
#presentation .contact {
    margin-left: var(--margin-left);
    width: 366px;
}

.contact h1 {
    margin-bottom: 0%;
}

.contact input {
    width: 316px;
}

.contact button {
    position: relative;
    left: 250px;
    bottom: 30px;
    padding: 0% 1rem 0% 1rem;
}

.contact input,
.contact button {
    border-radius: 12px;
}

#services {
    margin: 0% var(--margin-left2) 0% var(--margin-left2);
}

#services h1 {
    width: 346px;
}

#services section {
    display: flex;
    justify-content: space-between;
}

.service {
    width: 30%;
    border-radius: 24px;
}

#services section .service h1,
.service p {
    padding: 0% 10% 0% 10%;
    width: 80%;
}

#services section .service i {
    margin: 10% 0% 0% 10%;
    width: max-content;
    padding: 16px;
    /* background-color: aqua; */
    border-radius: 16px;
}

.service button {
    margin: 0% 0% 0% 10%;
    border-radius: 12px;
}

button {
    border: 0px solid white;
}

#our-work,
#clients {
    margin-left: var(--margin-left2);
    margin-right: var(--margin-left2);
}

#our-work h1 {
    width: 450px;
}

#our-work section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#our-work section .work {
    width: 49%;
    margin-bottom: 100px;
}

.left {
    position: relative;
    top: 130px;
}

.work img {
    width: 100%;
    border-radius: 12px;
}

.work p,
.work h1 {
    margin: 0%;
}

#our-work a {
    float: right;
    position: relative;
}

#clients {
    margin-top: 240px;
}

#team {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#team div {
    width: 34%;
}

#team div h2,
#team div h1,
#team div p {
    margin: 0%;
}

#team #team-imgs {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

#team #team-imgs .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

#team-imgs img {
    border-radius: 24px;
}

#team-img-1 {
    width: 50%;
    height: 50%;
}

#team-img-2 {
    width: 90%;
    margin-bottom: 10%;
}

#team-img-3 {
    width: 100%;
}

#msg {
    margin-top: 195px;
}

#msg h1 {
    width: 80%;
}

#msg div {
    display: flex;
    align-items: center;
}

#msg div img {
    width: 10%;
    border-radius: 12px;
}

#msg div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
}

#msg div div h1,
#msg div div h2 {
    margin: 0%;
}

#contact {
    display: flex;
    justify-content: space-between;
    margin-left: var(--margin-left2);
    /* margin-right: var(--margin-left2); */
}

#contact .links {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}

#contact div h1 {
    margin: 0%;
}

#contact .contact button {
    left: -75px;
    bottom: 0px;
}

#hamburger {
    background-color: transparent;
    display: none;
    cursor: pointer;
}

@media (max-width: 800px) {
    /* Typography */
    #home h1 {
        font-family: Heebo;
        font-size: 24px;
        font-weight: 800;
        line-height: 35px;
    }

    .top p {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
    }

    .top h1 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }

    .bottom h1 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }

    .bottom p {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }

    .contact h1 {
        font-family: Poppins;
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
    }

    .contact button {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }

    #services h1 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }
    
    .service h1 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
    }

    .service p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .service button {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    #our-work {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }

    .work p {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
    }

    .work h1 {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
    }

    #our-work a {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
    }

    #team div h2 {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
    }

    #team div h1 {
        font-family: Poppins;
        font-size: 36px;
        font-weight: 500;
        line-height: 54px;
    }

    #team div p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    #msg h1 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }

    #msg div h1 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }

    #msg div h2 {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
    }

    #contact .links a {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
    }

    #contact div h1 {
        font-family: Heebo;
        font-size: 36px;
        font-weight: 800;
        line-height: 53px;
    }

    #contact .contact h1 {
        font-family: Poppins;
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
    }

    /* Position */

    .links {
        display: none;
    }

    #hamburger {
        display: block;
    }

    .links.active {
        display: flex;
        position: absolute;
        right: 0%;
        left: 0%;
        top: 53px;
        flex-direction: column;
        align-items: center;
        height: 90vh;
        background-color: white;
        justify-content: center;
    }
}